.products-container-wrapper{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 10vh minmax(90vh,min-content);
    grid-template-areas: "top-bar-left top-bar-right"
                         "nav content";
}
.top-bar-left{
    grid-area: top-bar-left;
    background-color: red;
    font-family: 'Fjalla One', sans-serif;  
}
.top-bar-right{
    grid-area: top-bar-right;
    box-sizing: border-box;
    padding-right: 2rem;
    flex-wrap: wrap;
}
.top-bar-right button{
    flex: 1;
    margin-left: 2%;margin-right: 2%;
}
.products-container-nav{
    grid-area: nav;
    background-color: #2F363F;
    box-sizing: border-box;
    padding-top: 2rem;
    font-family: 'Fjalla One', sans-serif;
}
.nav-custom-item{
    color: #CAC9C9;
    background-color: transparent;
}
.nav-custom-item p {
    width: 100%;height: 100%;
}
.nav-custom-item:hover{
    background-color: red;
}
.nav-custom-item-active{
    background-color: red;
}
.content{
    background-color: #CAC9C9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 20vh minmax(60vh,min-content);
}
/* Div 1 */
/* Content Heading in content.css */
/* Div 2 */
.content-product-search{
/* TODO: */
/* position: relative; */
}
.suggestionBox{
    border-top: 1px solid red;
    width: 90.5%;height: 30rem;
    background-color: white;
    position: absolute;
    top: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: 2rem;
}
.suggestionBox-product-item{
    width: 100%;min-height: 4rem;height: 4rem;max-height: 4rem;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 1rem;
    background-color: #2F363F;
    color: white;
    z-index: 10;
}
.suggestionBox-product-item:hover{
    background-color: white;
    color: red;
}
.suggestionBox::-webkit-scrollbar{
    width: 0.5rem;
    background-color: red;
}
.suggestionBox::-webkit-scrollbar-thumb{
    background-color: #2F363F;
}

.product-edit{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: minmax(60vh,min-content);
    grid-template-areas: "product-img product-details";
    display: none;
    
}
.product-details{
    box-sizing: border-box;
    padding: 2rem 4rem;
}
  /* Responsiveness */
  @media screen and (max-width: 800px) {
    .products-container-wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh minmax(20vh,min-content) 10vh minmax(80vh,min-content);
        grid-template-areas: "top-bar-left"
                            "nav"
                            "top-bar-right"
                            "content";
    }
    
  }